<%- include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>

            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr>
                    <th class="text-center">user Name</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Email Address</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < contactList.length; count++) { %>
                <tr>
                    <td class="text-center"><%= contactList[count].userName %></td>
                    <td class="text-center"><%= contactList[count].password%></td>
                    <td class="text-center"><%= contactList[count].emailAddress %></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <a href="/contact-list/delete/<%= contactList[count]._id %>"
                        class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>


<!-- Bottom components -->
<%- include ../partials/scripts.ejs %>
<%- include ../partials/footer.ejs %>
<%- include ../partials/bottom.ejs %>